table{
  width: 100%;
  padding:2%;
   border-collapse: collapse;
}
.content{
  overflow: hidden;
  overflow-y: scroll;
}
th,tr{
  height: 10vh;
 width: 16%; 
}
thead{
  background-color: rgba(172, 0, 46, 0.7);
  color: white;
}
tr{
  background-color: #8080800f;
  border-bottom: 1px solid rgba(0, 0, 0, 0.439)
}
.vall{
  padding: 0;
  margin: 0;
  width: 100%
}
.vall>div>a{
  background-color: rgba(181, 181, 181, 0.3);
  text-decoration: none;
  display: block;
  width: 100%;
  padding:2px 0;
 color: black;
  border-radius: 7px;
  padding: 5px 0;
}
.vall>div{
  margin-bottom: 1px
}
.vall>div>form>button{
  border: none;
  display: block;
  background-color: rgba(181, 181, 181, 0.3);
  display: block;
  width: 100%;
  padding:2px 0;
 color: black;
  border-radius: 7px;
  font-size: 16px;
  font-weight: bold;
  font-family: "my-font";
  padding: 5px 0;
}
.vall>div>a:hover{
background-color: rgba(181, 181, 181, 0.9);
  font-size: 16px;
 color: black ;
 text-shadow: 0 0 10px white; 
  
}